.control {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 .control textarea {
  padding: 0.35rem 0.35rem;
  flex: 3;
  font: inherit;
   display: block;
   border: none;
   resize: none;
   overflow: auto;
 } 
 .control textarea:focus {
   outline: none;
   border-color: #4f005f;
   background: #f6dbfc;
 }
 