.editMode {
   visibility: hidden;
}
.editMode.active {
   visibility: visible;
}
.delete__card {
   opacity: 1;
}
.delete__card.active {
   opacity: 0;
   transition: opacity .4s ease-in-out;
}
/* .edit__card {
   background-color: orange;
}
.edit__card .active {
   background-color: blue;
} */